.body {
  background-color: #b1dae75e;
  margin-top: 50px;
}
.weather-app {
  display: block;
  text-align: center;
  background: #b1dae723;
  margin: 25px auto;
  border: 2px solid #6892d5;
  border-radius: 10px;
  max-width: 600px;
}
.form {
  margin: 50px 50px 20px 50px;
}
.temperature {
  font-size: 50px;
}
.city {
  margin-bottom: 0;
  text-transform: capitalize;
}
.sky-img {
  margin-top: -25px;
}
.temperature-line {
  margin-bottom: 10px;
}
.units {
  position: relative;
  top: -26px;
}
h1 {
  text-align: center;
  color: #79d1c3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
  color: #6892d5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ul-left {
  padding: 0;
  margin-bottom: 50px;
}
.ul-right {
  padding: 0;
  margin-bottom: 50px;
}
li {
  list-style: none;
  text-transform: capitalize;
}
input[type="text"] {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
input[type="submit"] {
  margin: 5px 0px;
  padding: 5px;
  background-color: #c9fdd7;
  color: #899290;
  border-radius: 5px;
  border: 2px solid #79d1c3;
  box-shadow: #79d1c3;
}
.current-location {
  margin: 0px 20px 20px 20px;
  padding: 5px;
  background-color: #c2d4f7;
  color: #6892d5;
  border-radius: 5px;
  border: 2px solid #6892d5;
  box-shadow: #79d1c3;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
  font-size: small;
}
.weekday {
  font-weight: bold;
  color: #6892d5;
}
.min-temp-forecast {
  color: #899290;
}
.foot {
  text-align: center;
  font-size: small;
}
